@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Baloo Paaji 2', cursive;
}

h1{
    background-color: black;
    color: white;
    border-radius: 10px;
    width: max-content;
    max-width: 500px;
    padding: 1%;
}

button{
    font-family: 'Roboto', sans-serif;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 18px;
    align-items: center;
    padding: 5px 20px;
}